<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @model CPTur.Models.Index

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CPTur</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AcessoCliente" asp-action="Index">Acesso Cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Acesso Agente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="text-center">
        <h1 class="display-3">CP Tur</h1>
        <h4>Bem vindo(a) à sua agência de viagens!!</h4>
        <p>É um prazer fazer parte de seus momentos especiais. Conte com a gente.</p>

    </div>

    <!--cards-->

    <div class="card-deck mb-4">
        <div class="card">
            <a asp-controller="AcessoCliente" asp-action="Destinos"><img class="card-img-top" src="~/css/imagens/destinos.jpg" alt="Imagem de capa do card"></a>
            <div class="card-body">
                <h5 class="card-title">Conheça os destinos disponíveis</h5>
                <p class="card-text text-justify ident">A CP Tur tem as melhores opções de destinos para você viajar.</p>
                
            </div>
        </div>
        <div class="card">
            <a asp-controller="AcessoCliente" asp-action="Promocoes"><img class="card-img-top" src="~/css/imagens/promo.jpg" alt="Imagem de capa do card"></a>
            <div class="card-body">
                <h5 class="card-title">Acesse nossas promoções</h5>
                <p class="card-text  text-justify ident">Com essas promoções, além de se divertir, você também poderá economizar.</p>
                
            </div>
        </div>
        <div class="card">
            <a asp-controller="Contatoes" asp-action="Create"><img class="card-img-top" src="~/css/imagens/ctto.jpg" alt="Imagem de capa do card"></a>
            <div class="card-body">
                <h5 class="card-title">Envie uma mensagem para nós</h5>
                <p class="card-text  text-justify ident">Deixe sua opinião, solicite uma informação ou orçamento.</p>
                
            </div>
        </div>
    </div>

   
</body>
</html>
